source_url \
  https://raw.githubusercontent.com/juspay/omnix/2c80a2b228a8c21434172d2b4f3b8d2ee873284f/omnixrc \
  'sha256-WywFYSB50xlznsc/tkFAF18uI2pMNoTJJAJJUPs837Y='
watch_file \
  rust-toolchain.toml \
  nix/modules/*.nix
use omnix
